<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Lançamentos</li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-left pl-2">Lançamentos</h1>
    </div>
    <div class="col-md">
        <a routerLink="new" class="btn btn-success float-right"> <i class="fa fa-plus-circle"></i>&nbsp; Nova Lançamento</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="bg-primary text-light">
            <th>Lançamento</th>
            <th>Categoria</th>
            <th class="text-right">Valor R$</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of entries">
            <td>
                <strong>{{entry.name}}</strong><br>
                <small class="text-success">{{entry.date}}</small><br>
                <small *ngIf="entry.description">{{entry.description}}</small>
            </td>
            <td>
                {{entry.category.name}}
            </td>
            <td class="text-right">
               <strong [class.text-success]="entry.type == 'revenue'" [class.text-danger]="entry.type == 'expense'">
                {{entry.amount}}
               </strong>
               <br>
               <span class="bagge badge-light">{{entry.paidText}}</span>
            </td>
            <td class="text-center">
                <a class="btn btn-sm btn-info mr-2" tooltip="Editar" [routerLink]="[entry.id, 'edit']">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-sm btn-danger" tooltip="Excluir" (click)="deleteEntry(entry, confirm)" style="color: #fff; cursor: pointer;">
                    <i class="fa fa-eraser"></i>
                </a>
            </td>
        </tr>        
    </tbody>
</table>


<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    Deletando Categoria
                </h4>
                <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{bodyDeletarCategoria}}</p>
            </div>
            <div class="modal-footer btn-group d-flex">
                <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
                    CANCELAR
                </button>
                <button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
                    DELETAR
                </button>
            </div>
        </div>
    </div>
</div>